
$border-color-hover: #666;
$border-color: #999;
// $border-color: #ddd;
$border-error: #f1453d;
$border-radius: 4px;
$box-shadow-color: rgb(0, 0, 0, 0.5);
$button-active-bg: #eee;
$button-bg: white;
$color: #333;
$font-size: 14px;
$input-height: 32px;